body{
  background-color: papayawhip;
}

header{
  background-color: olivedrab;
  color: aquamarine;
  width: 95%;
  text-align: center;
  padding: 5px;
  font-size: x-large;
  margin: auto;
  border-radius: 50px;
  box-shadow: 0 0 20px rgba(0,0,0,2);
}

footer{
  bottom: 0;
  left: 0;
  position: absolute;
  background-color:dimgray;
  color: antiquewhite;
  width: 100%;
  padding: 5px;
  text-align: left;
}

.note{
  background-color: lightcyan;
  color: black;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0,0,0,2);
  padding: 3px;
  width: 25%;
  border-color: black;
}

input{
  display: block;
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid white;
  font-size: 12px;
}

button{
  padding: 5px;
  border-radius: 10px;
  margin: 5px;
  border: none;
  color: white;
  cursor: pointer;
  background-color: green;
  width: 40%;
  font-size: 16px;
}

button:hover{
  background-color: lightskyblue;
  color: red;
}